body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #3cff00;
  text-align: center;
  color: #3e2723;
  margin: 0;
  padding: 0;
}

header h1 {
  font-size: 3em;
  margin: 0.5em 0;
  color: #000000;
}

header h2 {
  font-size: 1.5em;
  margin: 0.2em 0;
  color: #000000;
}

header h3 {
  font-size: 1.2em;
  margin: 0.2em 0;
  color: #000000;
}

#cookieInformation {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cookieButtonContainer {
  margin: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cookieButton {
  width: 200px;
  height: 200px;
  cursor: progress;
}

.shop {
  background-color: #fff8dc;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shop-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #04b0ff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 0, 0, 0.2);
}

.shop-item-container p {
  margin: 0;
}

button {
  background-color: #1100ff;
  color: #f8f3f3;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #0b0b0b;
}
